/* color palette from <https://github.com/vuejs/theme> */
:root {
  --galactic-blue: #755CDE;
  --summer-yellow: #F6A560;
  --pink: #F39E9E;
  --light-red: #EB7565;
  --cyan: #61C4B7;
  --violet: #552049;
  --black: #030303;
  --medium-brown: #7A746E;
  --light-cream: #FFF7F0;

}

/* semantic color variables for this project */
:root {
  --color-background: var(--light-cream);
  --color-text: var(--medium-brown);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 26px;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
